.containerrr{
    display: flex; 
    flex-direction: column;
}


.heading{
   
    font-size: 3rem;
    color:  #082032;
    font-size: 3.2rem;
    padding: 2rem;
}
.paragraph-1{
    font-size: 1.8rem;
    padding: 2rem;
}
.clickk{
    text-decoration: none;
    color: #082032;
}
/*  tag */
.temp{
    padding: 1rem;
    color: #f0eeee;
    font-weight: 400;
    text-transform: uppercase;
   
   }
   .try{
     width: 10rem;
     background-color: #f0eeee;
     width: 13rem;
     position: fixed;
     /* border-radius: 5rem; */
     background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
   }